pipeline/pl_master_load.json
{
	"name": "pl_master_load",
	"properties": {
		"activities": [
			{
				"name": "raw_Layer",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"waitOnCompletion": true
				}
			},
			{
				"name": "GetPreintigration",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "raw_Layer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT  * FROM [dbo].[notebookExecutionConfig] where flag = 1 and source = 'OnPremSQLServer' and layer = 'P'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "notebookExecutionConfig"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetPreintigration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetPreintigration').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Pre Intigration Notebook",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": {
										"value": "@trim(item().notebook_name)",
										"type": "Expression"
									},
									"type": "NotebookReference"
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "sparkpool",
									"type": "BigDataPoolReference"
								},
								"executorSize": "Small",
								"conf": {
									"spark.dynamicAllocation.enabled": true
								},
								"driverSize": "Small"
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": []
						},
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": []
						}
					]
				}
			}
		],
		"annotations": []
	}
}